POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=
AIRFLOW_UID=

# Pour recevoir une alerte par mail si fraude détéctée & pour le rapport quotidien
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ton_adresse@gmail.com
SMTP_PASSWORD=mot_de_passe_application
ALERT_EMAIL=adresse_destinataire@gmail.com